:root {
    --introbg: url('../img/bg-2.jpg');

    --mainColor: #15202b;
    --secondaryColor: #1f3040;
    --thirdColor: #0d151c;

    --borderColor: #164d56;

    --mainText: #fff;

    --iconcolor: white;

    --socialmedia1: rgba(23,162,184,0.2);
    --socialmedia2: rgba(23,162,184,0.3);
    --socialmedia3: rgba(23,162,184,0.4);
    --socialmedia4: rgba(23,162,184,0.5);
    --socialmedia5: rgba(23,162,184,0.6);
    --socialmedia6: rgba(23,162,184,0.7);
    --socialmedia7: rgba(23,162,184,0.8);
    --socialmedia8: rgba(23,162,184,0.9);

    --var_svgIconFilter: invert(100%) sepia(0%) saturate(0%) hue-rotate(268deg) brightness(105%) contrast(102%);
    
    --overlay-opacity: 0.6;
    --overlay-bg: black;
}