:root {
    --introbg: url('../img/bg.jpeg');

    --mainColor: #fff;
    --secondaryColor: #eaeaea;

    --borderColor: #c1c1c1;

    --mainText: black;

    --themeDotBorder: #fff;
}


h1, h2, h3, h4, h5, h6, strong, p, li {
    color: var(--mainText);
}



section.intro-bg {
    background-image: var(--introbg); 
    opacity: 0.9;
}

section.primary_content {
    background-color: var(--mainColor);
}

section.secondary_content {
    background-color: var(--secondaryColor);
}
/*
*
=======================
INTRO ; SCROLL SECTION
=======================
*
*/
.scroll-btn {
    text-align: center;
    color: white;
    font-size: 1.2em;
}
   
.scroll-btn:hover {
    color: white;
    text-decoration: none;
    font-size: 1.5em;
}

span#developer{
    color: white;
}

/*
*
=======================
ABOUT SECTION
=======================
*
*/
#profile-pic {
    display: block;
    margin: 0 auto;
    height: 350px;
    width: 350px;
    object-fit: cover;
    border: 2px solid var(--borderColor);
}

#socialMedia-profile {
    text-align: center;
    font-weight: 900;
}


.lead img {
    margin-bottom: 5px;
    width: 1.4375rem;
    background-color: #FCC21B;
    border-radius: 50%;
}

p #links {
    color: #000;
    font-family: "Montserrat", sans-serif;
    font-weight: 900;
    position: relative;
    text-decoration: none;
}

p #links:hover {
    background: -webkit-linear-gradient(45deg, #22c1c3, #fdbb2d);
    background: -moz-linear-gradient(45deg, #22c1c3, #fdbb2d);
    background: -ms-linear-gradient(45deg, #22c1c3, #fdbb2d);
    background: -o-linear-gradient(45deg, #22c1c3, #fdbb2d);
    background: linear-gradient(45deg, #22c1c3, #fdbb2d);
    background: -webkit-gradient(45deg, #22c1c3, #fdbb2d);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

p #links:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #7F7F7F;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}

p #links:hover:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}

.fa-heart {
    color: red;
}

.bw-filter {
    filter: grayscale(1);
}
/*
*
=======================
MY PROJECTS SECTION
=======================
*
*/
.cardz {
    position: relative;
    top: 50%;
    left: 50%;
    height: 400px;
    width: 300px;
    transform: translate(-50%, -50%);
    transform-style: preserve-3d;
    perspective: 600px;
    transition: .5s;
}

.cardz:hover .cardz-front {
    cursor: pointer;
    transform: rotateY(-180deg);
}

.cardz:hover .cardz-back {
    cursor: pointer;
    transform: rotateY(0deg);
}


.cardz-front {
    height: 100%;
    width: 100%;
    background-position: 50% 50%;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #000000;
    backface-visibility: hidden;
    transform: rotateY(0deg);
    transition: .5s;
}

.cardz-front img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: absolute;
}


.cardz-back {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #373737;
    backface-visibility: hidden;
    transform: rotateY(180deg);
    transition: .5s;
    color: #ffffff;
    text-align: center;
}

.cardz-back h3, .cardz-back p {
    color: #ffffff;
}

.cardz-back p {
    padding: 0 1em 0 1em;
}

.cardz-back h3 {
    width: 90%;
    border-bottom: solid 2px white;
    margin: 20% auto 10% auto;
    padding-bottom: 5%;
    
}
 
.cardz-back .description {
    height: 35%;
}

.cardz-back a {
    font-size: 2.2em;
    margin: 0 5%;
    color: white;
}

.cardz-back a:hover {
    color: #ccc;
    text-decoration: none;
}

.cardz-back img {
    margin-top: 1.2em;
    padding-bottom: 0.1em;
    width: 40px;
    height: 40px;
}

.cardz-back img:hover {
    opacity: 0.7;
    cursor: pointer;
}




/*
*
=======================
SOCIAL MEDIAS SECTION
=======================
*
*/
p.social {
    text-align: center;
    margin-top: 20px;
}

ul.social {
    margin-top: 20px;
    list-style-type: none;
    font-family: 'Roboto', sans-serif;
}

ul.social a {
    margin: 5px 10px 5px 0;
    background-color: black;
    color: #fff;
    display: inline-block;
    width: 50px;
    height: 50px;
    border-radius: 25px;
    line-height: 50px;
    font-size: 15px;
    text-align: center;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    vertical-align: center;
}
  
ul.social img {
    padding-bottom: 2px;
    width: 48px;
    height: 48px;
}


ul.social a.email {
    opacity: 0.2;
}

ul.social a.facebook {
    opacity: 0.3;
}

ul.social a.instagram {
    opacity: 0.4;
}

ul.social a.youtube {
    opacity: 0.5;
}

ul.social a.linkedin {
    opacity: 0.6;
}

ul.social a.stackoverflow {
    opacity: 0.7;
}

ul.social a.github {
    opacity: 0.8;
}

ul.social a.thingiverse {
    opacity: 0.9;
}




ul.social a.email:hover {
    opacity: 0.8;
}

ul.social a.facebook:hover {
    opacity: 0.7;
}

ul.social a.instagram:hover {
    opacity: 0.6;
}

ul.social a.youtube:hover {
    opacity: 0.6;
}

ul.social a.linkedin:hover {
    opacity: 0.4;
}

ul.social a.stackoverflow:hover {
    opacity: 0.3;
}

ul.social a.github:hover {
    opacity: 0.2;
}

ul.social a.thingiverse:hover {
    opacity: 0.2;
}


.skill_name {
    margin-left: 1em;
}

.copyright p {
    color: white;
}


@media screen and (max-width: 720px) {
    .cardz{
        margin-bottom: 2em;
    }
  }















